<h1>A propos de ce site</h1>
<p>
  <a href="http://localhost:5000/">Simple application via Ruby on Rails</a>
  est un exemple de site web construit 
  avec <a href="http://localhost:5000/">Ruby on Rails</a>. 
</p>
