
<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "A Propos", apropos_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://localhost:5000/">News</a></li>
      <li><a href="http://localhost:5000/home">Accueil</a></li>
    </ul>
  </nav>
</footer>

